.catalog-list {
	width: 375px;
	margin: 8px auto;
}

.catalog-table {
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
}

.catalog-table td {
	height: 26px;
	padding: 3px;
	vertical-align: middle;
}

.catalog-table tr:not(:first-child) td {
	min-width: 85px;
}

.catalog-table img {
	display: block;
	object-fit: contain;
	margin: 0 auto;
}
